<!DOCTYPE html>

<html>
<head>
  <title>JQuery UI</title>
  
  <style>
    
     body {
         
         background: pink;
     }
    
    </style>
 
 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/start/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="jquery-3.2.1.js"></script>    
    

</head>
<body>

<h1>Welcome Home</h1>    
 
<%= link_to 'Home', root_path %>

</body>
</html>